# Top-most EditorConfig file
root = true

###################################
# Default settings:
# Use 4/2 spaces as indentation
# No newline ending every file

[*]
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# end_of_line = lf
# charset = utf-8

[*.cs]
indent_size = 4

[*.{js,json,vue,yaml,yml}]
indent_size = 2

#################################
#### .NET Coding Conventions ####

# C# files
[*.cs]

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true